{% extends "teacher/base.html" %}
{% load static %}

{% block title %} Courses {% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container mt-5">
  <h2 class="mb-4">Available Courses</h2>

  <form method="get" action="" class="mb-4">
    <label for="department" class="form-label">Choose The Department:</label>
    <select name="department" id="department" class="form-select" style="max-width: 300px;" onchange="this.form.submit()">
      <option value="">-- All Departments --</option>
      {% for dept in departments %}
        <option value="{{ dept.id }}" {% if selectedDepartment == dept.id|stringformat:"s" %}selected{% endif %}>
          {{ dept.name }}
        </option>
      {% endfor %}
    </select>
  </form>

  {% if courses %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Code</th>
        <th scope="col">Course Name</th>
        <th scope="col">Course Value</th>
        <th scope="col">Assigned To</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for course in courses %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ course.course_code }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.course_value }}</td>
        <td>{{ course.teacher.get_full_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No courses available yet.</p>
  {% endif %}
</div>
</main>
{% endblock %}