{% extends "parent/base.html" %} 
{% load static %} 
{% block title %} Parent profile {% endblock %} 

{% block content %}
    
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <h2>Personal information</h2>
          <div class="table-responsive small">
            <table class="table table-striped table-sm">
              <tbody>
                <tr class="py-5">
                  <td class="fs-5">Username: </td>
                  <td class="fs-5">random</td>
                
                </tr>
                <tr>
                  <td class="fs-5">First Name: </td>
                  <td class="fs-5">placeholder</td>
                </tr>
                <tr>
                  <td class="fs-5">Last Name: </td>
                  <td class="fs-5">data</td>
                </tr>
                <tr>
                  <td class="fs-5">Email Address: </td>
                  <td class="fs-5">information</td>
                </tr>
                <tr>
                  <td class="fs-5">Employee Number: </td>
                  <td class="fs-5">text</td>
                </tr>
                <tr>
                  <td class="fs-5">House Address: </td>
                  <td class="fs-5">dashboard</td>
                </tr>
                <tr>
                  <td class="fs-5">D.O.B: </td>
                  <td class="fs-5">dashboard</td>
                </tr>
                <tr>
                  <td class="fs-5">1,007</td>
                  <td class="fs-5">placeholder</td>
                </tr>
                <tr>
                  <td class="fs-5">1,008</td>
                  <td class="fs-5">random</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
   
{% endblock %}
