{% extends "parent/base.html" %} 
{% load static %} 
{% block title %} Parent profile {% endblock %} 

{% block content %}
    
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <h2>Personal information</h2>
          <div class="table-responsive small">
            <table class="table table-striped table-sm">
              <tbody>
                <tr class="py-5">
                  <td class="fs-5">Username: </td>
                  <td class="fs-5">{{request.user.username}}</td>
                
                </tr>
                <tr>
                  <td class="fs-5">First Name: </td>
                  <td class="fs-5">{{request.user.first_name}}</td>
                </tr>
                <tr>
                  <td class="fs-5">Last Name: </td>
                  <td class="fs-5">{{request.user.last_name}}</td>
                </tr>
                <tr>
                  <td class="fs-5">Email Address: </td>
                  <td class="fs-5">{{request.user.email}}</td>
                </tr>
                
                {% if all_registrations %}
                {% for registration in all_registrations %}
                <tr>
                <td class="fs-5">Parent of: </td>
                <td class="fs-5">
                    {{ registration.parent_of.user.first_name }} {{ registration.parent_of.user.last_name }} 
                    
                </td>
                </tr>
                {% endfor %}
                {% endif %}
                <tr>
                  <td class="fs-5">House Address: </td>
                  <td class="fs-5">{{parent_instance.address}}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
   
{% endblock %}
