<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Create account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card shadow-lg rounded-3 w-50  d-flex  pb-5">
  <br>
  <h1 class="text-center text-primary">Welcome to SMS</h1>
  
<h2 class="text-center text-primary">Create student Account</h2>
<br>
<form method="POST" action="/create-student-account-auth" autocomplete="off" style="padding-left: 120px; padding-right: 120px;">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" name="fname" placeholder="Enter first name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input type="text" name="lname" placeholder="Enter last name" class="form-control" required>
  </div>
 
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" name="email" placeholder="Enter last name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Student Number</label>
    <input type="text" name="username" placeholder="Enter student number" class="form-control" required>
  </div>
  <div class="mb-3">
        <label class="form-label">Department</label>
        <select name="department" class="form-select" required>
          <option value="" disabled selected>-- Select Department --</option>
          {% for department in department_instance %}
          <option value="{{ department.id }}">{{ department.name }}</option>
          {% endfor %}
        </select>
      </div>
  <div class="mb-3">
    <label class="form-label">DOB</label>
    <input type="text" name="dob" placeholder="DD-MM-YYYY" class="form-control" required>
  </div>
    <div class="mb-3">
    <label class="form-label">Home Address</label>
    <input type="text" name="address" placeholder="Enter home address" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">password</label>
    <input type="password" name="password" placeholder="Enter password" class="form-control" required>
  </div>
  <div>
    <p>Already have an account? <a href="/">login</a></p>
  </div>
  {% if messages %}
  <div class="alert alert-primary" role="alert">
  {% for eachMessage in messages %}
    {{eachMessage}}
  {% endfor %}
</div>
  {% else %}

  {% endif%}
  <div class="text-center">
    {% if user.is_authenticated %}
    <a href="/admin-user-management" class="btn btn-secondary">Back</a>
    {% else %}

    {% endif%}
  <button type="submit" class="btn btn-primary">Create account </button>
  </div>
  </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>