{% extends "schAdmin/base.html" %}
{% load static %}

{% block title %} Admin Profile {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4 rounded-3">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Admin Profile</h2>
            <h5 class="mb-3">Personal Info</h5>
            <ul class="list-group mb-4">
                <li class="list-group-item">{{ request.user.username | upper }}</li>
                <li class="list-group-item "><strong>Email : </strong> {{ request.user.email }}</li>
                <li class="list-group-item "><strong>First Name : </strong> {{ request.user.first_name}}</li>
                <li class="list-group-item "><strong>Last Name : </strong> {{ request.user.last_name }}</li>
            </ul>
            <h5 class="mb-3">Admin Details</h5>
            <ul class="list-group mb-4">
                <li class="list-group-item"><strong>Employee No:</strong> {{ admin_instance.employee_number }}</li>
                <li class="list-group-item"><strong>Address:</strong> {{ admin_instance.address }}</li>
                <li class="list-group-item"><strong>Marital Status:</strong> {{ admin_instance.marital_status }}</li>
                <li class="list-group-item"><strong>Date of Birth:</strong> {{ admin_instance.DOB }}</li>
            </ul>
            <div class="text-center">
                <a href="edit-admin-profile/{{admin_instance.id}}" class="btn btn-warning">Edit Profile</a>
            </div>
        </div>
    </div>
{% endblock %}